/* Media query */

@media (max-width: 575.98px) {
  
  #site-content {
    flex-direction: column;
  }

  .main-menu,
  .music-section {
    width: 100%;
  }
 
  #logo-lg {
    display: none;
  }
  
 
  .albums {
    flex-direction: column;
    align-items: center;
  }
  .album {
    width: 90%;
    margin-bottom: 20px;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {

  #site-content {
    flex-direction: column;
  }
  .main-menu,
  .music-section {
    width: 100%;
  }
 
  #logo-lg {
    display: none;
  }
  

  .albums {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .album {
    width: 45%;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  
  #site-content {
    flex-direction: row;
  }
  
  .main-menu {
    width: 25%;
  }
  .music-section {
    width: 75%;
  }
 
  #logo-lg {
    display: block;
  }
  #logo-xs {
    display: none;
  }

  .albums {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .album {
    width: 30%;
    margin: 1%;
  }
}